<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>body{font-family:monospace;}</style>

        <!-- Page Metadata -->
        {{ if (eq .Title .Site.Title) }}
        {{ with $title := .Title }}
        <title>{{ . }}</title>
        <meta property="og:title" content="{{ . }}"/>
        {{ end }}
        {{ else }}
        {{ with $title := printf "%s - %s" .Title .Site.Title }}
        <title>{{ . }}</title>
        <meta property="og:title" content="{{ . }}"/>
        {{ end }}
        {{ end }}
        {{ with .Site.Params.description }}
        <meta name="description" content="{{ . }}" />
        <meta property="og:description" content="{{ . }}"/>
        {{ end }}
        {{ with .Site.Params.author }}
        <meta name="author" content="{{ . }}" />
        {{ end }}
        <meta property="og:site_name" content="{{ .Site.Title }}"/>
        <meta property="og:type" content="blog"/>
        <meta property="og:url" content="{{ .Site.BaseURL }}"/>
        {{ with .Site.Params.logo }}
        <meta property="og:image" content="{{ . }}">
        {{ end }}

	<!-- Load the main stylesheet. -->
        {{ $style := (resources.Get "css/style.css" | resources.Minify) }}
        <link
            rel="stylesheet"
            href="{{ $style.Permalink }}?cb={{ now.Unix }}"
            integrity="{{ $style.Data.Integrity }}" />

        {{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
